.footer {
    background-color: var(--main-color);
    color: var(--text-color-theme-dark);
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    min-height: 250px;
}

.footer-socials{
    margin-bottom: 80px;
}



.title-soc{
    color: var(--text-color-theme-dark);
    margin-bottom: 15px;
}




.contacts-soc-list{
    display: flex;
    gap: 15px;
}


.soc-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--second-color);
}

.contacts-soc-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    fill: var(--main-color);
    background-color: var(--second-color);
    transition: background-color 250ms var(--timing-function);
}

.contacts-soc-link:hover,
.contacts-soc-link:focus {
    background-color: var(--btn-hover-color);
}