
/* main styles */

:root {
  
  --primary-font-family: 'Nunito', sans-serif;
  --text-color-theme-dark: #DFBCB2;
  --main-color: #338309;
  --second-color: #FAAB01;
  --btn-hover-color: #E48716;
 

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
  font-size: 16px;
  line-height: 1.62;
  
}

main{
  background-color: var(--backgound-color);
}


.main-btn {
  width: 100px;
  height: 34px;
  background-color: var(--btn-main-color);
  border-radius: 80px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.63;
  border: none;

}

.main-btn:hover,
.main-btn:focus{
  background-color: var(--btn-hover-color);
}

/* reset */

img {
  display: block;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}



.list, li {
    list-style: none;

}


h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}